[submodule "tracker"]
	path = tracker
	url = https://github.com/maretOlia/tracker
[submodule "shared"]
	path = shared
	url = https://github.com/maretOlia/shared
[submodule "auth"]
	path = auth
	url = https://github.com/maretOlia/auth
